@using Guide.Config
@using Guide.Web.Infrastructure.Extensions
@using Resx
@{
	this.Layout = this.Request.Browser.IsMobileDevice ? "~/Views/Layouts/_MobileLayout.cshtml" : "~/Views/Layouts/_WrapperLayout.cshtml";
}

@{
	ViewBag.Title = @Resx.Common.AppName;
}
@section styles
{
	<style>
		.intro-header {
			padding-top: 50px;
			padding-bottom: 50px;
			color: #f8f8f8;
			background: url(/Content/Css/img/bg.jpg) no-repeat center center;
			background-size: cover;
			text-align: center;
		}

		.intro-message {
			position: relative;
			padding-top: 20%;
			padding-bottom: 20%;
		}

		.intro-divider {
			width: 400px;
			border-top: 1px solid #f8f8f8;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		}

		.list-inline {
			padding-left: 0;
			list-style: none;
		}

		.navbar { margin-bottom: 0; }

		.citycode-logo-homepage {
			background-image: url('/content/css/img/citycode_logo_305.png');
			width: 305px;
			height: 60px;
			margin-left: auto;
			margin-right: auto;
		}

		.citycode-logo-standalone-homepage {
			background-image: url('/content/css/img/citycode_logo_415.png');
			width: 415px;
			height: 70px;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
@Styles.Render("~/Content/app")
}

@section scripts{
	@(this.Html.Partial("_ImageGallery"))

	@Scripts.Render("~/bundles/jquery-edge")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/thirdparty")
	@Scripts.Render("~/bundles/guide")
}


@(this.Html.Partial("_NavbarTopPartial"))

<div class="intro-header">

	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					@if (this.Request.Browser.IsMobileDevice)
					{
						<div class="citycode-logo-homepage"></div>
					}
					else
					{
						<div class="citycode-logo-standalone-homepage"></div>
					}
					<h3 class="white-color guide-slogan">
						@Resx.Home.Index.Slogan
					</h3>
					@*<hr class="intro-divider">
					<ul class="list-inline intro-social-buttons">
						<li>
							<a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
						</li>
						<li>
							<a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
						</li>
						<li>
							<a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
						</li>
					</ul>*@
				</div>
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>

<div class="content-section-a">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">
					Death to the Stock Photo:
					<br>Special Thanks
				</h2>
				<p class="lead">A special thanks to Death to the Stock Photo for providing the photographs that you see in this template. <a target="_blank" href="http://join.deathtothestockphoto.com/">Visit their website</a> to become a member.</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="img/ipad.png" alt="">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>