@using Guide.Model.Model
@using Guide.Web.Infrastructure.Extensions
@using Resx

@{
	this.Layout = "~/Views/Layouts/_WrapperLayout.cshtml";
}
@section scripts
{
	@(this.RenderSection("scripts", false))
}
@section styles{
	@(this.RenderSection("styles", false))
	@Styles.Render("~/Content/app")
	@if (this.Request.Browser.IsMobileDevice)
	{
		@Styles.Render("~/Content/css-mobile")
	}
	else
	{
		@Styles.Render("~/Content/css-desktop")
	}
}


@(this.Html.Partial("_NavbarTopPartial"))

<div class="container">
	@(this.RenderBody())
	@(this.Html.Partial("_FooterPartial"))
</div>