<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@(this.ViewBag.Title)</title>
		@if (this.ViewBag.CanonicalUrl != null)
		{
			<link rel="canonical" href="@(this.ViewBag.CanonicalUrl)" />
		}
		<meta name="description" content="@(this.ViewBag.Description)">
		@Styles.Render("~/Content/css-layout")
		@(this.RenderSection("styles", false))
		<!--[if lt IE 9]>
			<script src="~/Scripts/html5shiv.js"> </script>
		<![endif]-->

	</head>
	<body>

		@(this.RenderBody())
		@(this.RenderSection("scripts", false))
		@Html.Partial("_DummyContentModal")

		<script type="text/javascript">
			$('#languageLinkEn').click(function(e) {
				$.cookie("language", "en", { expires: 64, path: '/' });
			});
			$('#languageLinkRu').click(function(e) {
				$.cookie("language", "ru", { expires: 64, path: '/' });
			});
		</script>
	</body>
</html>