@using Guide.Model.Model
@model IEnumerable<Guide.Model.Model.ArticleModel>

@{
	var i = 0;
}
@foreach (ArticleModel article in this.Model)
{
	string url = (this.Url.Action("Details", "Articles", new { id = article.ArticleId, city = ViewBag.UrlCityParam, title = article.UrlParam }));

	if (i % 3 == 0)
	{
		@:<div class="row">
		@:<div class="col-sm-12">
	}
	i++;
	<div class="col-lg-4 col-sm-4 text-center guide-place-passport-wrapper">
		<div class="thumbnail">
			<a href="@url" class="guide-place-passport-image">
				<img src="@article.ThumbImageUrl" alt="">
			</a>
			<div class="caption" style ="background: #fbfbfb; border-top: 1px solid #ddd;">
				<h4><a href="@url">@article.Header</a></h4>
				<p>@article.Teaser</p>
			</div>
		</div>
	</div>

	if (i % 3 == 0)
	{
		@:</div>
		@:</div>
	}
}