@using Guide.Config
@using Guide.Web.Infrastructure.Extensions
@using Resx

<div class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<a href="@Html.GetHomeUrl()"><div class="citycode-logo-125" style="margin-top: 10px;margin-right: 5px;margin-left:5px;float: left;"></div></a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">@Resx.Layout.Places<span class="caret"></span></a>
					<ul class="dropdown-menu" aria-labelledby="themes">
						<li>@(this.Html.ActionLink(Resx.Layout.Buildings, "List", "Articles", new { cityId = 1, sightTypeId = 4, title = this.ViewBag.BuildingsListUrlParam }, null))</li>
						<li>@(this.Html.ActionLink(Resx.Layout.Museums, "List", "Articles", new { cityId = 1, sightTypeId = 2, title = this.ViewBag.MuseumsListUrlParam }, null))</li>
						<li>@(this.Html.ActionLink(Resx.Layout.Landmarks, "List", "Articles", new { cityId = 1, sightTypeId = 0, title = this.ViewBag.LandmarksListUrlParam }, null))</li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav">
				<li><a href="" data-toggle="modal" data-target="#dummyContentModal">@Resx.Layout.Routes</a></li>
				<li><a href="" data-toggle="modal" data-target="#dummyContentModal">@Resx.Layout.Tours</a></li>
				<li><a href="" data-toggle="modal" data-target="#dummyContentModal">@Resx.Layout.Hotels</a></li>
			</ul>

			@if (this.Request.IsAuthenticated)
			{
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="themes">
							<li>@(this.Html.ActionLink("Articles", "AdminList", "ArticlesAdmin", new { cityCode = "spb" }, null))</li>
							<li>@(this.Html.ActionLink("Sight Types", "List", "SightTypes", null, null))</li>
							<li>@(this.Html.ActionLink("Images", "List", "Images", null, null))</li>
						</ul>
					</li>
				</ul>
			}

			@using (this.Html.BeginForm("Search", "Articles", FormMethod.Get, new {@class = "navbar-form navbar-left"}))
				{
					<input type="hidden" name="cityId" value="1" />
					<input type="text" class="form-control col-lg-8" name="query" placeholder="@Resx.Layout.Search">
				}

			<div class="guide-toggle flagBtn" style="position: relative;float: right!important; padding-top: 2px;">
				@(this.Html.Partial("_LanguageButton"))
			</div>
			@(this.Html.Partial("_LoginPartial"))
		</div>
	</div>
</div>
